<div class="ib_wrapper">
	<div class="canvas_container">
		<canvas></canvas>
		<span class="save_img cb_btn">Save</span>
	</div>
	<div class="panels_container">
		<div class="control_panel">
			<div class="gender_panel">
				<span class="male_tab cb_btn">Male</span>
				<span class="female_tab cb_btn">Female</span>
			</div>
			<div class="male_panel">
				<span class="head_tab cb_btn">Head</span>
				<span class="hat_tab cb_btn">Hat</span>
				<span class="tie_tab cb_btn">Tie</span>
				<span class="glasses_tab cb_btn">Glasses</span>
				<span class="horns_tab cb_btn">Horns</span>
				<span class="earphones_tab cb_btn">Earphones</span>
				<span class="jacket_tab cb_btn">Jacket</span>
				<span class="belt_tab cb_btn">Belt</span>
				<span class="trousers_tab cb_btn">Trousers</span>
				<span class="shoes_tab cb_btn">Shoes</span>
			</div>
			<div class="female_panel"></div>
		</div>
		<div class="option_panel"></div>
	</div>
</div>
